*{
	margin:0;
	padding: 0;
}
body{
	background: #13201c;
	
	

}
.center{
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
}
table{
	border-collapse: collapse;
	background: white;
	 margin: 0 auto;
	
}
tr{
	background: #13201c;	
}
td{
	border:10px solid #2d2819;
	padding: 20px 0;
	width: 100px;
	height: 30px;
}
th{
	color: green;
	padding: 20px 5px;
	width: 100px;
	height: 30px;


}
.up{
	border-top: 0px;
	background: white;
}
.down{
	border-bottom: 0px;
	background: white;
}
.left{
	border-left: 0px;
	background: white;
}
.right{
	border-right: 0px;
	background: white;
}
.right1{
	border-right: 0px;
	background: #ffef71;
}
.right2{
	border-right: 0px;
	background: #094687;
}
.upleft{
	border-top: 0px;
	border-left: 0px;
	background: white;
}
.upright{
	border-top: 0px;
	border-right: 0px;
	background: #ffef71;
}
.downleft{
	border-bottom: 0px;
	border-left: 0px;
	background: #ffed6e;
}
.downright{
	border-bottom: 0px;
	border-right: 0px;
	background: white;
}
.inner{
	background: #ff6532;
}
.inner1{
	background: #081610;
}
.inner2{
	background: #081610;
}
.innerw{
	background: white;
}